{% extends 'navbar.html' %}

{% block my_block %}

<h1>Our Search</h1><br><br>

{% if categories %}
    <div class="category">

    <h3>Based on Category Name:</h3>
{% for cat in categories %}
    <ul>
        <li>
            <p><a class="aa" href="{{ url_for('category', cat_id= cat.category_id)}}">{{cat.category_name}}</a></p>
        </li>
    </ul>

{% endfor %}
        </div>
{% endif %}


{% if  subcategories %}
 <div class="subcategory">

    <h3>Based on Subcategory Name:</h3>
{% for sub in subcategories %}
    <ul>
        <li>
            <p><a class="aa" href="#">{{sub.subcategory_name}}</a></p>
        </li>
    </ul>

{% endfor %}
        </div>
{% endif %}


{% if  products %}
 <div class="product">

    <h3>Based on Product Name:</h3>
{% for prod in products %}
    <ul>
        <li>
            <p><a class="aa" href="#">{{prod.product_name}}</a></p>
        </li>
    </ul>

{% endfor %}
        </div>
{% endif %}



{% if not categories and not subcategories and not products %}
<div class="404">
    <h1 id="fof">404: Input {{text}} Does Not Exist</h1>
    <img src="https://media3.giphy.com/media/kQbMO5X7UA1C8/giphy.gif" alt="The Receptionist was also eaten by Zombies" style="height: 600px; width: 660px;">
</div>


{% endif  %}




{% endblock %}