{% extends 'navbar.html' %}

{% block my_block %}

<h1>Our Search</h1><br><br>

{% if categories_list %}

  {% for cat in categories_list %}
  <h2 id="{{cat.category_name}}">{{cat.category_name}}</h2><br><br>

   {% for sub in cat.subcategories %}
      <h3>{{sub.subcategory_name}}</h3><br>


    <div class="container-fluid">
      <div class="row">
      {% for prod in cat.subcategories.products %}
          <a type="button" class="btn btn-link col-md-3" href="{{ url_for('product_details', prod_id =prod.product_id)}}" style="text-decoration: none;">
            <div class="card row1 border-primary mb-3 " id="" style="width: 18rem;">
                {{prod.avatar}}
              <img src="{{ url_for('static', filename=prod.imagesandvideos.first()) }}" class="card-img-top" alt="image not found" style="width=100px; height=100px;" >
              <div class="card-body card">
                <h5 class="card-title">{{prod.product_name}}</h5>
                <p class="card-text">{{prod.short_product_description}}</p>
              </div>
            </div>
          </a>
      {% endfor %}
      </div>
    </div>
    {% endfor %}
  {% endfor %}

{% elif  subcategories_list %}


{% elif  products_list %}

{% else %}



{% endif  %}
{% endblock %}